/* App.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aa9f67;
  color: #aa9f67;
  padding: 10px ;
}

.navbar a {
  text-decoration: none;
  color:#3e360d;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.login-container button {
  padding: 5px 10px;
  background-color: #aa9f67;
  color:#3e360d;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #514631;
  color: #fff;
}
